name: Build and tag

on:
  push:
    branches:
      - main # Default release branch
    tags:
      - "!*"

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3 

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: install dependencies
        run: npm install

      - name: lint
        run: npm run lint

      - name: build
        env:
          NODE_ENV: production
        run: npm run build

      - name: Get package version 
        id: get_version 
        uses: bbonkr/get-version-action@v1.0.4
        with:
          project: "./package.json"

      - uses: bbonkr/git-tag-check-action@v1.0.11
        id: check_tag
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag: "v${{ steps.get_version.outputs.version }}"

      - name: package-version-to-git-tag
        uses: pkgdeps/git-tag-action@v2
        if: ${{ steps.check_tag.outputs.tag == '' }}
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          github_repo: ${{ github.repository }}
          version: ${{ steps.get_version.outputs.version }}
          git_commit_sha: ${{ github.sha }}
          git_tag_prefix: "v"

      - name: Release Drafter
        id: release_drafter
        uses: release-drafter/release-drafter@v5
        if: ${{ steps.check_tag.outputs.tag == '' }}
        with:
          config-name: release-drafter.yml
          version: ${{ steps.get_version.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: git tag skipped
        if: ${{ steps.check_tag.outputs.tag != '' }}
        run: |
          echo "Tag (v${{ steps.check_tag.outputs.tag }}) is exists already." 